body {
  background-color: #7b1fa2;
  color: white;
  font-size: ;
}
.head {
  background-color: #e1bee7;
  color: #212121;
  font-family: "Raleway", sans-serif;
  margin-top: 50px;
  margin-left: 850px;
  margin-right: 850px;
  border-radius: 20px;
  font-size: 80;
  padding: 20px;
  display: inline-block;
}
